<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">[Time: %d{dd MMM yyyy HH:mm:ss,SSS}][Thread: %t][Log: %c][Level: %-5p] - [File: %F:%L] - %m %n</Property>
        <Property name="APP_LOG_ROOT">${sys:ESOLUTIONS_LOG_ROOT}</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- SecurityService appenders -->
        <RollingFile name="sec-error-logger" fileName="${APP_LOG_ROOT}/eSolutionsSecurity-error.log" filePattern="${APP_LOG_ROOT}/eSolutionsSecurity-error-%d{yyyy-MM-dd}-%i.log.gz" ignoreExceptions="false">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${APP_LOG_ROOT}" maxdepth="10">
                    <IfFilename glob="*/eSolutionsSecurity-error*.log.gz" />
                    <IfLastModified age="P30D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="sec-debug-logger" fileName="${APP_LOG_ROOT}/eSolutionsSecurity-debug.log" filePattern="${APP_LOG_ROOT}/eSolutionsSecurity-debug-%d{yyyy-MM-dd}-%i.log.gz" ignoreExceptions="false">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${APP_LOG_ROOT}" maxdepth="10">
                    <IfFilename glob="*/eSolutionsSecurity-debug*.log.gz" />
                    <IfLastModified age="P30D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- Utility loggers -->
        <RollingFile name="utility-audit-logger" fileName="${APP_LOG_ROOT}/eSolutionsUtility-audit.log" filePattern="${APP_LOG_ROOT}/eSolutionsUtility-audit-%d{yyyy-MM-dd}-%i.log.gz" ignoreExceptions="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${APP_LOG_ROOT}" maxdepth="10">
                    <IfFilename glob="*/eSolutionsUtility-audit*.log.gz" />
                    <IfLastModified age="P30D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="utility-error-logger" fileName="${APP_LOG_ROOT}/eSolutionsUtility-error.log" filePattern="${APP_LOG_ROOT}/eSolutionsUtility-error-%d{yyyy-MM-dd}-%i.log.gz" ignoreExceptions="false">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${APP_LOG_ROOT}" maxdepth="10">
                    <IfFilename glob="*/eSolutionsUtility-error*.log.gz" />
                    <IfLastModified age="P30D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="utility-debug-logger" fileName="${APP_LOG_ROOT}/eSolutionsUtility-debug.log" filePattern="${APP_LOG_ROOT}/eSolutionsUtility-debug-%d{yyyy-MM-dd}-%i.log.gz" ignoreExceptions="false">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${APP_LOG_ROOT}" maxdepth="10">
                    <IfFilename glob="*/eSolutionsUtility-debug*.log.gz" />
                    <IfLastModified age="P30D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- eSolutionsCore appenders -->
        <RollingFile name="core-error-logger" fileName="${APP_LOG_ROOT}/eSolutionsCore-error.log" filePattern="${APP_LOG_ROOT}/eSolutionsCore-error-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${APP_LOG_ROOT}" maxdepth="10">
                    <IfFilename glob="*/eSolutionsCore-error*.log.gz" />
                    <IfLastModified age="P30D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="core-debug-logger" fileName="${APP_LOG_ROOT}/eSolutionsCore-debug.log" filePattern="${APP_LOG_ROOT}/eSolutionsCore-debug-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${APP_LOG_ROOT}" maxdepth="10">
                    <IfFilename glob="*/eSolutionsCore-debug*.log.gz" />
                    <IfLastModified age="P30D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- eSolutions appenders -->
        <RollingFile name="web-error-logger" fileName="${APP_LOG_ROOT}/esolutions-error.log" filePattern="${APP_LOG_ROOT}/esolutions-error-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${APP_LOG_ROOT}" maxdepth="10">
                    <IfFilename glob="*/esolutions-error*.log.gz" />
                    <IfLastModified age="P30D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="web-debug-logger" fileName="${APP_LOG_ROOT}/esolutions-debug.log" filePattern="${APP_LOG_ROOT}/esolutions-debug-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="50MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${APP_LOG_ROOT}" maxdepth="10">
                    <IfFilename glob="*/esolutions-debug*.log.gz" />
                    <IfLastModified age="P30D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- eSolutionssecurity loggers -->
        <Logger name="ERROR_RECORDER.com.cws.esolutions.security" additivity="false" level="error">
            <AppenderRef ref="sec-error-logger" />
        </Logger>
        <Logger name="SECURITY_DEBUGGER" additivity="false" level="debug">
            <AppenderRef ref="sec-debug-logger" />
        </Logger>

        <!-- eSolutionsUtility loggers -->
        <Logger name="AUDIT_RECORDER" additivity="false" level="info">
            <AppenderRef ref="utility-audit-logger" />
        </Logger>
        <Logger name="ERROR_RECORDER.com.cws.esolutions.security" additivity="false" level="error">
            <AppenderRef ref="utility-error-logger" />
        </Logger>
        <Logger name="UTILITY_DEBUGGER" additivity="false" level="debug">
            <AppenderRef ref="utility-debug-logger" />
        </Logger>

        <!-- eSolutionsCore loggers -->
        <Logger name="ERROR_RECORDER.com.cws.esolutions.core" additivity="false" level="error">
            <AppenderRef ref="core-error-logger" />
        </Logger>
        <Logger name="CORE_DEBUGGER" additivity="false" level="debug">
            <AppenderRef ref="core-debug-logger" />
        </Logger>

        <!-- eSolutionsWeb loggers -->
        <Logger name="ERROR_RECORDER.com.cws.esolutions.web" additivity="false" level="error">
            <AppenderRef ref="web-error-logger" />
        </Logger>
        <Logger name="ESOLUTIONS_DEBUGGER" additivity="false" level="debug">
            <AppenderRef ref="web-debug-logger" />
        </Logger>

        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
