<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Copyright (c) 2009 - 2020 CaspersBox Web Services
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */
-->
<web-app id="eSolutions_web_source" version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>eSolutions_web_source</display-name>
    <description>eSolutions_web_source</description>
    <distributable />

	<context-param>
        <param-name>eSolutionsCoreConfig</param-name>
        <param-value>eSolutionsCore/config/ServiceConfig.xml</param-value>
    </context-param>
    <context-param>
        <param-name>eSolutionsCoreLogger</param-name>
        <param-value>eSolutionsCore/logging/logging.xml</param-value>
    </context-param>
    <context-param>
        <param-name>SecurityServiceConfig</param-name>
        <param-value>SecurityService/config/ServiceConfig.xml</param-value>
    </context-param>
    <context-param>
        <param-name>SecurityServiceLogger</param-name>
        <param-value>SecurityService/logging/logging.xml</param-value>
    </context-param>
    <context-param>
        <param-name>defaultHtmlEscape</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>en</param-value>
    </context-param>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
        <param-value>en</param-value>
    </context-param>

    <listener>
        <listener-class>com.cws.esolutions.security.listeners.SecurityServiceListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.cws.esolutions.core.listeners.CoreServicesListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

    <filter id="SessionFixationFilter">
        <description>Session Fixation Filter</description>
        <display-name>SessionFixationFilter</display-name>
        <filter-name>SessionFixationFilter</filter-name>
        <filter-class>com.cws.esolutions.security.filters.SessionFixationFilter</filter-class>
        <init-param>
        	<param-name>filter-config</param-name>
        	<param-value>SecurityService/filters/SessionAuthenticationFilter</param-value>
        </init-param>
    </filter>
    <filter id="SessionAuthenticationFilter">
        <description>Session Authentication Filter</description>
        <display-name>SessionAuthenticationFilter</display-name>
        <filter-name>SessionAuthenticationFilter</filter-name>
        <filter-class>com.cws.esolutions.security.filters.SessionAuthenticationFilter</filter-class>
        <init-param>
        	<param-name>filter-config</param-name>
        	<param-value>SecurityService/filters/SessionAuthenticationFilter</param-value>
        </init-param>
    </filter>
    <filter id="SSLEnforcementFilter">
        <description>SSL Enforcement Filter</description>
        <display-name>SSLEnforcementFilter</display-name>
        <filter-name>SSLEnforcementFilter</filter-name>
        <filter-class>com.cws.esolutions.security.filters.SSLEnforcementFilter</filter-class>
        <init-param>
        	<param-name>filter-config</param-name>
        	<param-value>SecurityService/filters/SSLEnforcementFilter</param-value>
        </init-param>
    </filter>
    <filter id="ApplicationEnablementFilter">
        <description>Application Enablement Filter</description>
        <display-name>Application Enablement Filter</display-name>
        <filter-name>ApplicationEnablementFilter</filter-name>
        <filter-class>com.cws.esolutions.core.filters.ApplicationEnablementFilter</filter-class>
        <init-param>
            <param-name>filter-config</param-name>
            <param-value>eSolutionsCore/filters/ApplicationEnablementFilter</param-value>
        </init-param>
    </filter>
    <filter id="ResponseTimeFilter">
        <description>Response Timing Filter</description>
        <display-name>ResponseTimeFilter</display-name>
        <filter-name>ResponseTimeFilter</filter-name>
        <filter-class>com.cws.esolutions.core.filters.ResponseTimeFilter</filter-class>
    </filter>
    <filter id="SpringEncodingFilter">
        <description>Spring Encoding Filter</description>
        <display-name>SpringEncodingFilter</display-name>
        <filter-name>encoding-filter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping id="ResponseTimeFilter_mapping">
        <filter-name>ResponseTimeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping id="SessionFixationFilter_mapping">
        <filter-name>SessionFixationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping id="ApplicationEnablementFilter_mapping">
        <filter-name>ApplicationEnablementFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping id="SpringEncodingFilter_mapping">
        <filter-name>encoding-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet id="eSolutions_servlet">
        <display-name>eSolutions</display-name>
        <servlet-name>eSolutions</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:eSolutions/eSolutions-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping id="eSolutions_mapping">
        <servlet-name>eSolutions</servlet-name>
        <url-pattern>/ui/*</url-pattern>
    </servlet-mapping>

    <resource-ref id="esolutions">
        <description>Application Datasource</description>
        <res-ref-name>jdbc/esolutions</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Unshareable</res-sharing-scope>
    </resource-ref>
    <resource-ref id="cwssec">
        <description>Security Datasource</description>
        <res-ref-name>jdbc/cwssec</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Unshareable</res-sharing-scope>
    </resource-ref>
    <resource-ref id="audit">
        <description>Audit Datasource</description>
        <res-ref-name>jdbc/audit</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Unshareable</res-sharing-scope>
    </resource-ref>
    <resource-ref id="contact">
        <description>Contact Datasource</description>
        <res-ref-name>jdbc/contact</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Unshareable</res-sharing-scope>
    </resource-ref>
    <resource-ref id="mail">
        <description>Mail Service</description>
        <res-ref-name>mail/MailSession</res-ref-name>
        <res-type>javax.mail.Session</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Unshareable</res-sharing-scope>
    </resource-ref>

    <error-page>
        <error-code>400</error-code>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/theme/cws/html/en/jsp/errHandler.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <jsp-property-group>
            <description>jsp-group</description>
            <display-name>jsp-group</display-name>
            <url-pattern>/*</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/theme/cws/html/en/jsp/header.jsp</include-prelude>
            <include-coda>/theme/cws/html/en/jsp/footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secure URLs</web-resource-name>
            <description>Enforce SSL</description>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <session-config>
        <session-timeout>15</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
            <max-age>900</max-age>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
</web-app>
